@media (min-width: 1400px) and (max-width: 1599.99px) {
    .blog_grid_4 .single_clasic .title {
        font-size: 15px;
    }

    .blog_grid_4 .single_clasic .img {
        height: 140px;
    }

    .Clasic__with_sidebar_area .single_clasic .img {
        height: 220px;
    }

    .Clasic__with_sidebar_area .single_clasic .title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .clasic_sidebar_popular_post ul li .img {
        width: 26%;
    }

    .clasic_sidebar_popular_post ul li .text .title {
        font-size: 12px;
    }

    .clasic_sidebar_popular_post ul li .text .date {
        font-size: 12px;
    }

    .clasic_sidebar_cetagory ul li a {
        color: var(--colorBlack);
        margin-bottom: 10px;
        font-size: 15px;
    }


    .clasic_blog_item .single_clasic .img {
        height: 500px;
    }

    .clasic_listing_blog .single_clasic .img {
        height: 225px;
    }

    .masonary_grid_2 .single_clasic .img {
        height: auto;
    }

    .masonary_blog .single_clasic .img {
        height: auto;
    }

    .single_mask .text .title {
        font-size: 14px;
        line-height: 10px;
    }

    .single_mask .text .mask_post {
        font-size: 13px;
    }

    .single_mask .text .mask_buttom span,
    .single_mask .text .mask_buttom span a {
        font-size: 12px;
    }
















}



@media (min-width: 1200px) and (max-width: 1399.99px) {
    .blog_grid_4 .single_clasic .title {
        font-size: 15px;
    }

    .blog_grid_4 .single_clasic .img {
        height: 140px;
    }

    .Clasic__with_sidebar_area .single_clasic .img {
        height: 220px;
    }

    .Clasic__with_sidebar_area .single_clasic .title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .clasic_sidebar_popular_post ul li .img {
        width: 26%;
    }

    .clasic_sidebar_popular_post ul li .text .title {
        font-size: 12px;
    }

    .clasic_sidebar_popular_post ul li .text .date {
        font-size: 12px;
    }

    .clasic_sidebar_cetagory ul li a {
        color: var(--colorBlack);
        margin-bottom: 10px;
        font-size: 15px;
    }

    .clasic_blog_item .single_clasic .img {
        height: 450px;
    }

    .clasic_listing_blog .single_clasic .img {
        height: 190px !important;
    }

    .hotdell_text .quantaty .order_plce button {
        padding: 12px 40px;
    }

    .Variable_Product_tab .discription_item li {
        width: 30%;
    }

    .Variable_sidebar .refeshing .text h4 {
        font-size: 12px;
    }

    .Variable_sidebar .refeshing .img i {
        font-size: 25px;
    }

    .Variable_sidebar_banner .text {
        top: 120px;
        left: 20px;
    }

    .vertical_sidebar .hotdell_sidbar_contant .img,
    .hotdell_sidbar .hotdell_sidbar_contant .img {
        min-width: 80px;
        height: 80px;
        margin-right: 15px;
    }

    .vertical_sidebar .hotdell_sidbar_contant .text .title,
    .hotdell_sidbar .hotdell_sidbar_contant .text .title {
        font-size: 12px;
    }

    .vertical_sidebar .hotdell_sidbar_contant .text p,
    .hotdell_sidbar .hotdell_sidbar_contant .text p {
        font-size: 11px;
    }

    .vertical_sidebar .hotdell_sidbar_contant .text h4,
    .hotdell_sidbar .hotdell_sidbar_contant .text h4 {
        font-size: 13px;
    }

    .vertical_sidebar h3,
    .hotdell_sidbar_heading h3,
    .hotdell_heading h3 {
        font-size: 15px;
    }

    .Variable_Product_tab .vandor_info .vandor_img {
        height: 195px;
    }

    .Variable_Product_tab .Variable_vandor_text ul li {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .Variable_Product_tab .Variable_vandor_text ul {
        margin: 20px 0px 20px 0px;
    }

    .Variable_Product_tab .progressbar_area {
        min-width: 230px;
    }

    .from_chacks label {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .Variable_Product_tab .discription_item {
        margin-bottom: 20px;
    }

    .review_tab .nav-pills {
        gap: 20px;
    }

    .extnded_content .hotdell_main_img {
        height: 400px;
    }

    .Subscribe_form input {
        width: 520px;
    }

    .Frequently_total {
        width: 28%;
    }

    .Variable_Product .grid_img {
        height: 210px;
    }

    .masonary_grid_2 .single_clasic .img {
        height: auto;
    }

    .masonary_blog .single_clasic .img {
        height: auto;
    }

    .single_mask .text .title {
        font-size: 14px;
        line-height: 10px;
    }

    .single_mask .text .mask_post {
        font-size: 13px;
    }

    .single_mask .text .mask_buttom span,
    .single_mask .text .mask_buttom span a {
        font-size: 12px;
    }










}



@media (min-width: 992px) and (max-width: 1199.99px) {
    .topbar_right {
        gap: 13px;
    }

    .header_left .text form {
        width: 250px;
    }

    .header_right .call_info {
        padding-right: 30px;
    }

    .header_right {
        gap: 15px;
    }

    .header_left .logo {
        width: 150px;
    }

    .header_left .text {
        margin-left: 30px;
    }

    .header_right .call_info .icon i {
        font-size: 20px;
    }

    .header_right .call_info .text .call_number {
        font-size: 14px;
    }

    .header_right .compare a span,
    .header_right .add_curt a span,
    .header_right .wishlist a span {
        font-size: 20px;
    }

    .header_right {
        gap: 30px;
    }

    .header_right .add_curt a::after {
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 12px;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        margin: 0px 10px;
        font-size: 13px;
    }

    .main_menu .right_menu li a {
        font-size: 14px;
    }

    .main_menu .child_menu li a,
    .main_menu .submenu li a {
        line-height: 30px;
    }

    .main_menu .megamenu li h4 {
        font-size: 15px;
    }

    .banner_text h1 span,
    .banner_text h1 {
        font-size: 35px;
    }

    .banner_text h5 span,
    .banner_text h5 {
        font-size: 25px;
    }

    .banner_text p span,
    .banner_text p {
        font-size: 20px;
    }

    .banner_3 .banner_text h1 span::after {
        width: 120px;
        height: 36px;
    }

    .menu_carwegory_area .menu_carwegory_list>li>a {
        font-size: 13px;
    }

    .menu_carwegory_list>li>a::after {
        font-size: 13px;
    }

    .frreshoping_area .freeshoping_content li .text h4 {
        font-size: 13px;
    }

    .frreshoping_area .freeshoping_content li {
        margin-left: 10px;
    }

    .cetagory_area .single_cetagory .img img {
        height: 200px !important;
    }

    .hotdell_small_img {
        height: 85px;
    }

    .hotdell_text {
        margin-left: 0;
    }

    .hotdell_text .quantaty .order_plce button {
        margin-left: 10px;
        padding: 12px 30px;
    }

    .hotdell_text .size p {
        width: 100%;
    }

    .vertical_sidebar,
    .hotdell_sidbar {
        padding: 10px;
    }

    .vertical_sidebar .hotdell_sidbar_contant .img,
    .hotdell_sidbar .hotdell_sidbar_contant .img {
        min-width: 80px;
        height: 80px;
        margin-right: 10px;
    }

    .vertical_sidebar .hotdell_sidbar_contant .text .title,
    .hotdell_sidbar .hotdell_sidbar_contant .text .title {
        font-size: 13px;
    }

    .vertical_sidebar .hotdell_sidbar_contant .text p,
    .hotdell_sidbar .hotdell_sidbar_contant .text p {
        font-size: 10px;
    }

    .vertical_sidebar .hotdell_sidbar_contant .text h4,
    .hotdell_sidbar .hotdell_sidbar_contant .text h4 {
        font-size: 13px;
    }

    .vertical_sidebar h3,
    .hotdell_sidbar_heading h3,
    .hotdell_heading h3 {
        font-size: 15px;
    }

    .cetagory_item .img {
        height: 160px;
    }

    .single_popular {
        max-width: 22.5%;
    }

    .single_popular .img {
        height: 240px;
    }

    .women_cetagory .single_cetagory .img img {
        height: 200px !important;
    }

    .apprel_cetagory_item .single_popular {
        max-width: 35%;
    }

    .Subscribe_form input {
        width: 380px;
    }

    .Subscribe_text .icon i {
        font-size: 40px;
    }

    .Subscribe_text h3 {
        font-size: 18px;
    }

    .Subscribe_text p {
        font-size: 12px;
    }

    .Comphany_info,
    .account_info,
    .footer_service {
        margin-left: 50px;
    }

    .footer_logo .logo {
        margin-top: 0px;
    }

    .single_blog .img {
        height: 140px;
    }

    .single_blog .text .title,
    .single_blog .text .name a {
        font-size: 15px;
    }

    /* abot start */
    .section_heading h2 {
        font-size: 30px;
    }

    .about_service_img,
    .about_banner {
        height: 400px;
    }

    .about_service_text h3 {
        font-size: 30px;
    }

    .about_service_text h3 {
        font-size: 24px;
    }

    .about_service_img {
        height: 350px;
    }

    .about_service_text p {
        margin: 10px 0;
    }

    .Award_item li p {
        font-size: 15px;
    }

    .single_clasic .img {
        height: 245px;
    }

    .Clasic_3clom_area .single_clasic .img {
        height: 160px;
    }

    .Clasic_3clom_area .single_clasic .title {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .blog_grid_4 .single_clasic .img {
        height: 115px;
    }

    .blog_grid_4 .single_clasic .title {
        font-size: 15px;
    }

    .blog_grid_4 .single_clasic .clasic_post {
        font-size: 13px;
    }

    .Clasic__with_sidebar_area .single_clasic .img {
        height: 180px;
    }

    .Clasic__with_sidebar_area .single_clasic .title {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .clasic_sidebar_popular_post ul li .img {
        width: 26%;
    }

    .clasic_sidebar_popular_post ul li .text .title {
        font-size: 12px;
    }

    .clasic_sidebar_popular_post ul li .text .date {
        font-size: 12px;
    }

    .clasic_sidebar_cetagory ul li a {
        color: var(--colorBlack);
        margin-bottom: 10px;
        font-size: 15px;
    }

    .Clasic_blog_area .single_clasic .img {
        height: 375px;
    }

    .Clasic_blog_area .clasic_sidebar_Browse_Tag ul li a {
        font-size: 12px;
    }

    .clasic_listing_blog .single_clasic .img {
        height: 190px;
    }

    .clasic_listing_blog .single_clasic .title {
        font-size: 18px;
    }

    .clasic_sidebar_popular_post ul li .img {
        width: 25%;
    }

    .clasic_sidebar_Browse_Tag ul li a {
        font-size: 12px;
    }

    .hotdell_contant.Variable_Product .hotdell_text {
        margin-top: 10px;
    }

    .hotdell_text h1 {
        font-size: 20px;
    }

    .Variable_Product_tab .discription_item li {
        width: 30%;
    }

    .Variable_Product_tab .discription_item li p {
        font-size: 12px;
    }

    .Variable_Product_tab .discription_item li h4 span,
    .Variable_Product_tab .discription_item li h4 {
        font-size: 13px;
    }

    .Variable_sidebar {
        padding: 10px;
    }

    .Variable_sidebar .refeshing .img i {
        font-size: 20px;
        margin-right: 15px;
    }

    .Variable_sidebar .refeshing .text h4 {
        font-size: 12px;
        font-weight: 700;
    }

    .Variable_sidebar_banner .text {
        top: 170px;
        left: 15px;
    }

    .Variable_Product_tab .vandor_info .vandor_img {
        height: 225px;
    }

    .extnded_content .hotdell_main_img {
        height: 350px;
    }

    .Variable_Product_tab .Variable_vandor_text ul {
        margin: 20px 0px 20px 0px;
    }

    .Variable_Product_tab .Variable_vandor_text ul li {
        margin-bottom: 10px;
    }

    .hotdell_main_img {
        height: 370px;
    }

    .Frequently_total {
        width: 28%;
    }

    .Variable_Product .grid_img {
        height: 170px;
        margin-bottom: 15px;
    }

    .masonary_grid_4 .single_clasic .img {
        height: auto;
    }

    .masonary_blog .single_clasic .img {
        height: auto;
    }

    .single_mask .text .title {
        font-size: 14px;
        line-height: 10px;
    }

    .single_mask .text .mask_post {
        font-size: 13px;
    }

    .single_mask .text .mask_buttom span,
    .single_mask .text .mask_buttom span a {
        font-size: 12px;
    }




}



@media (min-width: 768px) and (max-width: 991.99px) {
    .mobile_topbar_right {
        width: auto;
        right: -10px;
        top: 4px;
        position: absolute;
    }

    .mobile_topbar_left {
        width: 100%;
    }

    header .mobile_header .call_cart,
    header .mobile_header .wish_cart,
    header .mobile_header .compare_cart,
    header .mobile_header .shopping_cart {
        font-size: 25px;
    }

    header .mobile_header .logo {
        width: 140px;
        margin-left: 25px;
    }

    .mobile_header_left .text {
        border: 2px solid var(--colorPrimary);
        margin-left: 30px;
        border-radius: 5px;
    }

    .mobile_header_left .text form {
        position: relative;
    }

    .mobile_header_left .text form button {
        top: 10px;
        right: 10px;
        color: var(--colorSecoundry);
        position: absolute;
    }

    .cetagory_area .single_cetagory {
        margin-bottom: 20px;
    }

    .single_popular {
        max-width: 22%;
    }

    .single_popular .icon li {
        margin-bottom: 0;
    }

    .single_popular .icon li a {
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
    }

    .women_cetagory .single_cetagory {
        margin-bottom: 20px;
    }

    .apprel_cetagory_item .single_popular {
        max-width: 29.5%;
    }

    .banner_text h1 span,
    .banner_text h1 {
        font-size: 35px;
    }

    .banner_text h5 span,
    .banner_text h5 {
        font-size: 25px;
    }

    .banner_text p span,
    .banner_text p {
        font-size: 20px;
    }

    .banner_3 .banner_text h1 span::after {
        width: 115px;
        height: 36px;
    }

    .frreshoping_area .freeshoping_content li {
        margin: 0px 12px;
    }

    .frreshoping_area .freeshoping_content li .text h4 {
        font-size: 12px;
    }

    .hotdell_text .size p {
        width: 100%;
    }

    .hotdell_text .quantaty .order_plce button {
        margin-left: 10px;
        padding: 12px 30px;
    }


    .hotdell_text {
        margin-left: 0;
    }

    .hotdell_small_img {
        height: 85px;
        margin: 0 12px;
    }

    .vertical_sidebar,
    .hotdell_sidbar {
        margin-top: 30px;
    }

    .cetagory_item .img {
        height: 145px;
    }

    .cetagory_item .link {
        font-size: 12px;
    }

    .single_popular .img {
        height: 175px;
    }

    .apprel_cetagory_item .single_popular {
        max-width: 47%;
    }

    .recent_heading h3,
    .blog_heading h3,
    .clint_heading h3,
    .kitchen_heading h3,
    .electric_area_heading h3,
    .apprel_heading h3 {
        font-size: 20px;
    }

    .apprel_cetagory_item .single_popular .img {
        height: 240px;
    }

    .women_cetagory .single_cetagory .img img {
        height: 200px !important;
    }

    .women_cetagory .single_cetagory .text_right,
    .women_cetagory .single_cetagory .text_left {
        position: absolute;
        top: 30px;
        left: 40px;
    }

    .Subscribe_content {
        display: initial !important;
        text-align: center;
    }

    .Subscribe_text .icon i {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .Subscribe_text h3 {
        font-size: 18px;
    }

    .Subscribe_text p {
        font-size: 14px;
    }

    .Subscribe_form input {
        width: 350px;
        margin-top: 20px;
    }

    .Subscribe_text {
        justify-content: center;
        text-align: left;
    }

    .footer_logo {
        margin-bottom: 30px;
    }

    .footer_logo .logo {
        margin-top: 0;
    }

    .kitchen_heading a,
    .electric_area_heading a,
    .apprel_heading a {
        font-size: 14px;
    }

    .apprel_left .text h3 {
        font-size: 25px;
    }

    .discount_content_right .common_btn {
        margin-left: 190px;
        margin-top: -10px;
    }

    .discount_content_left .text h4 {
        margin-bottom: 0px;
    }

    .Comphany_info,
    .account_info,
    .footer_service {
        margin-left: 0;
    }

    /* abot start */
    .section_heading h2 {
        font-size: 30px;
    }

    .about_service_img,
    .about_banner {
        height: 300px;
    }

    .about_service_text h3 {
        font-size: 30px;
    }

    .about_service_text h3 {
        font-size: 24px;
    }

    .about_service_img {
        height: 275px;
    }


    .about_service_text {
        margin-left: 0 !important;
    }

    .about_service_text p {
        margin: 10px 0;
    }

    .Award_item li p {
        font-size: 15px;
    }

    .single_clasic .img {
        height: 180px;
    }

    .masonary_grid_2 .single_clasic .img {
        height: auto;
    }

    .isitio_filter_btn {
        gap: 10px;
    }

    .isitio_filter_btn button {
        font-size: 14px;
    }

    .single_clasic .title {
        font-size: 18px;
    }

    .clasic_sidebar {
        margin-top: 30px;
    }

    .Clasic_blog_area .clasic_blog_item {
        display: flex;
        flex-wrap: wrap;
    }

    .Clasic_blog_area .single_clasic {
        width: 50%;
    }

    .contact_accrodian .accordion-button {
        font-size: 12px;
    }

    .contact_accrodian .faq_header {
        font-size: 18px;
    }

    .contact_info_form label {
        font-size: 13px;
    }

    .contact_info_form button {
        font-size: 13px;
    }

    .Variable_Product_tab .discription_item li {
        width: 47%;
    }

    .Variable_Product_tab .teft {
        margin-top: 30px;
    }

    .Variable_Product_tab .submit_review h3 {
        margin-top: 30px;
    }

    .from_chacks label {
        margin-bottom: 6px;
    }

    .review_tab .nav-pills {
        gap: 0px 10px;
    }

    .review_tab .nav-link {
        font-size: 13px;
    }

    .Variable_sidebar {
        margin-top: 30px;
    }

    .Variable_sidebar_banner .img {
        height: 265px;
    }

    .Frequently_total {
        width: 28%;
    }

    .Variable_Product_tab .vandor_info .vandor_img {
        height: 160px;
    }

    .Variable_Product_tab .Variable_vandor_text ul {
        margin: 20px 0px 20px 0px;
    }

    .Variable_Product_tab .Variable_vandor_text ul li {
        margin-bottom: 10px;
    }

    .Variable_Product .grid_img {
        height: 600px;
    }

    .masonary_grid_4 .single_clasic .img {
        height: auto;
    }

    .masonary_blog .single_clasic .img {
        height: auto;
    }

    .single_mask .text .title {
        font-size: 16px;
        line-height: 15px;
    }

    .my_account_contant ul li .text p {
        width: 100px;
    }

    .my_accout_tab ul li a {
        font-size: 15px;
        padding: 10px 0px;
    }

    .my_account_contant .common_btn_3 {
        font-size: 13px;
    }

    .my_account_contant .dashboard_box {
        width: 47%;
    }
















}





@media (min-width: 576px) and (max-width: 767.99px) {
    header {
        margin: 0;
        padding: 30px 0;
    }

    .mobile_topbar_right {
        justify-content: end;
        position: absolute;
        top: 4px;
        right: -10px;
    }



    .banner_text {
        padding: 50px 0px 0 0;
        text-align: end;
    }

    header .mobile_header .logo {
        width: 150px;
        margin-left: 30px;
    }

    .banner_text h5 span,
    .banner_text h5 {
        font-size: 32px;
        color: var(--colorSecoundry);
    }

    .banner_text h5 span {
        border-bottom: 2px solid #f77c29;
        font-weight: 500;
    }

    .banner_text h1 span,
    .banner_text h1 {
        font-size: 40px;
        font-weight: 700 !important;
        margin-top: 10px;
    }

    .banner_text p span,
    .banner_text p {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .banner_text p span {
        color: var(--colorOreng);
        font-weight: 700;
    }

    .banner_img {
        height: 130px;
    }

    .banner_contant {
        height: 325px;
    }

    .banner_2 .banner_img {
        margin: 50px 0px;
    }

    .banner_2 .banner_text {
        padding-bottom: 0;
    }


    .banner_3 .banner_text::after {
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
    }

    .banner_3 .banner_text h1 {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .banner_3 .banner_text h1 span {
        margin-right: 10px;
        font-weight: 700;
    }

    .banner_3 .banner_text h1 span::after {
        right: -5px;
        width: 130px;
        height: 54px;
    }

    .banner_3 .banner_text h1 span::before {
        right: -145px;
        width: 160px;
        bottom: 1px;
    }

    .banner_3 .banner_text p {
        margin: 0;
    }

    .common_btn {
        padding: 10px 25px;
    }


    .frreshoping_area .freeshoping_content li {
        margin-left: 15px;
    }

    .frreshoping_area .freeshoping_content li .text h4 {
        font-size: 14px;
    }

    .cetagory_area .single_cetagory {
        margin-bottom: 20px;
    }

    .cetagory_area .single_cetagory .text_left {
        top: 20px;
        left: 20px;
    }

    .cetagory_area .single_cetagory .img img {
        height: 170px !important;
    }

    .cetagory_area .single_cetagory .text_left h4 {
        font-size: 18px;
    }

    .cetagory_area .single_cetagory .text_left p {
        margin-top: 15px;
    }

    .cetagory_area .single_cetagory .text_left {
        top: 20px;
        left: 20px;
    }

    .cetagory_area .single_cetagory .text_right {
        top: 20px;
        left: 20px;
    }


    .cetagory_area .single_cetagory .text_right h4 {
        font-size: 18px;
    }

    .cetagory_area .single_cetagory .text_right p {
        margin-top: 15px;
    }

    .hotdell_text .quantaty .order_plce button {
        margin-left: 10px;
        padding: 10px 40px;
    }

    .hotdell_text {
        margin-left: 0;
        margin-top: 20px;
    }

    .hotdell_contant {
        padding: 20px 10px;
        margin-bottom: 30px;
    }

    .hotdell_sidbar {
        padding: 20px 10px;
    }

    .vertical_sidebar h3,
    .hotdell_sidbar_heading h3,
    .hotdell_heading h3 {
        font-size: 18px;
    }

    .recent_heading h3,
    .blog_heading h3,
    .clint_heading h3,
    .kitchen_heading h3,
    .electric_area_heading h3,
    .apprel_heading h3,
    .popular_cetagory_heading h3,
    .top_munth_cetagory_heading h3 {
        font-size: 20px;
    }

    .cetagory_item .img {
        height: 145px;
    }

    .single_popular {
        max-width: 30%;
    }

    .single_popular .icon li a {
        height: 25px;
        width: 25px;
        line-height: 25px;
        font-size: 12px;
    }

    .apprel_left .text h3 {
        font-size: 25px;
    }

    .popular_cetagory_tab .nav-pills .nav-link {
        font-size: 12px;
    }

    .women_cetagory .single_cetagory .img img {
        height: 160px !important;
    }

    .women_cetagory .single_cetagory .text_right,
    .women_cetagory .single_cetagory .text_left {
        top: 20px;
        left: 20px;
    }

    .women_cetagory .single_cetagory {
        margin-bottom: 20px;
    }

    .women_cetagory .single_cetagory .text_right h3,
    .women_cetagory .single_cetagory .text_left h3 {
        font-size: 22px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .women_cetagory .single_cetagory .text_right h5,
    .women_cetagory .single_cetagory .text_left h5 {
        font-size: 13px;
    }

    .cetagory_item .link {
        font-size: 13px;
    }

    .apprel_cetagory_item .single_popular {
        max-width: 46%;
    }

    .single_popular .img {
        height: 175px;
    }

    .kitchen_heading a,
    .electric_area_heading a,
    .apprel_heading a {
        font-size: 13px;
    }


    .electric_left .text,
    .apprel_left .text {
        left: 20px;
    }

    .electric_left .img img,
    .apprel_left .img img {
        height: 600px !important;
    }

    .discount_content {
        align-items: center;
        padding: 15px 20px;
    }

    .discount_content_left .number h3 {
        font-size: 50px;
    }

    .discount_content {
        display: inherit;
        padding: 20px 50px;
    }

    .discount_content_left {
        display: inline-block;
    }

    .discount_content_left .number {
        border-right: 0;
    }

    .discount_content_left .number p {
        font-size: 25px;
        line-height: 20px;
        margin-top: 0px;
    }


    .discount_content_left .text h4 {
        font-size: 25px;
    }


    .discount_content_right .common_btn {
        padding: 8px 20px;
        margin-top: 20px;
    }

    .recent_item .img {
        height: 155px;
    }

    .single_blog .img {
        height: 160px;
    }

    .Subscribe_content {
        display: initial !important;
    }

    .Subscribe_text .icon i {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .Subscribe_text h3 {
        font-size: 18px;
    }

    .Subscribe_text p {
        font-size: 14px;
    }

    .Subscribe_form input {
        width: 350px;
        margin-top: 20px;
    }


    .Comphany_info,
    .account_info,
    .footer_service {
        margin-left: 0;
    }

    .footer_logo ul {
        margin-bottom: 10px;
    }

    .Comphany_info h2,
    .account_info h2,
    .footer_service h2 {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .copyright_contant {
        justify-content: center !important;
        padding-top: 20px;

    }

    .footer_copyright .right {
        justify-content: center !important;
    }

    .footer_copyright .right img {
        height: auto !important;
    }

    .footer_secound_contant {
        padding-top: 30px;
    }

    .Subscribe_text {
        display: initial !important;
        text-align: center;
    }

    /* about page start */
    .section_heading h2 {
        font-size: 25px;
    }

    .about_service_img,
    .about_banner {
        height: 225px;
    }

    .about_service_text h3 {
        font-size: 20px;
    }

    .faq_accordion .accordion-button {
        font-size: 15px;
    }

    .about_service_img {
        margin-top: 20px;
        height: 380px;
    }

    .about_counter_area ul li h2 span,
    .about_counter_area ul li h2 {
        font-size: 30px;
        font-weight: 700;
    }

    .about_counter_area ul li h5 {
        font-size: 15px;
        margin: 5px 0px;
    }

    .about_counter_area ul li p {
        font-size: 11px;
    }

    .about_service_text h3 {
        font-size: 15px;
    }

    .about_service_text p {
        margin: 20px 0;
        font-size: 13px;
    }

    .Award_item li p {
        font-size: 15px;
        margin-top: 10px;
    }

    .Award_item li img {
        display: inline-block !important;
        width: 125px !important;
        height: 125px !important;
    }

    .single_team .img {
        height: 275px;
    }

    .isitio_filter_btn {
        gap: 10px;
    }

    .isitio_filter_btn button {
        font-size: 15px;
    }

    .single_clasic .img {
        height: 180px;
    }

    .masonary_blog .single_clasic .img {
        height: auto;
    }

    .masonary_grid_2 .single_clasic .img {
        height: auto;
    }

    .single_clasic .title {
        font-size: 18px;
    }

    .single_clasic .clasic_post {
        font-size: 15px;
    }

    .clasic_sidebar {
        margin-top: 30px;
    }

    .clasic_listing_blog .single_clasic .img {
        height: 260px;
    }

    .contact_accrodian .faq_accordion .accordion-button {
        font-size: 12px;
    }

    .contact_accrodian .faq_header {
        font-size: 18px;
        font-weight: 700;
    }

    .contact_location_area iframe {
        height: auto;
    }

    .contact_info_form h4 {
        margin-top: 30px;
    }

    .Variable_Product_tab .nav-link {
        font-size: 20px;
    }

    .Variable_Product_tab .nav-pills {
        gap: 0px 10px;
    }

    .Variable_Product_tab .discription .text h3 {
        font-size: 18px;
    }

    .Variable_Product_tab .discription_item li {
        width: 100%;
    }

    .Variable_coustomar_review {
        margin-top: 30px;
    }

    .Variable_Product_tab .progressbar_area {
        min-width: 240px;
    }

    .Variable_Product_tab .submit_review h3 {
        font-size: 18px;
        margin-top: 30px;
    }

    .from_chacks label {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .Variable_Product_tab .submit_review form button {
        font-size: 14px;
    }

    .Variable_Product_tab .nav-link {
        font-size: 20px;
    }

    .review_tab .single_review .text {
        width: 70%;
        margin-left: 15px;
    }

    .review_tab .single_review .text .retting {
        margin: 10px 0px 20px 0px;
        font-size: 12px;
    }

    .Variable_Product_item .img {
        height: 275px;
    }

    .Variable_sidebar {
        margin-top: 30px;
    }

    .Variable_Product_tab .vandor_info .vandor_img {
        height: 250px;
        margin-bottom: 20px;
    }

    .Variable_Product_tab .review_tab .nav-link {
        font-size: 15px;
    }

    .Frequently_total {
        width: 40%;
    }

    .Variable_Product .grid_img {
        height: 560px;
    }

    .masonary_grid_4 .single_clasic .img {
        height: auto;
    }

    .my_account_contant {
        margin-top: 30px;
    }

    .my_accout_tab ul li a {
        font-size: 15px;
    }

    .my_account_contant ul li .text p {
        width: 100px;
    }

    .my_account_contant .common_btn_3 {
        font-size: 13px;
    }

    .my_account_contant .dashboard_box {
        width: 47%;
    }

    .date_id {
        width: 15%;
    }

    .status_id {
        width: 20%;
    }

    .status_id {}

    .total_id {
        width: 20%;
    }

    .text-end.action_id {
        width: 15%;
    }

    .order_id {
        width: 15%;
    }

    .my_account_contant .common_btn {
        padding: 4px 15px;
    }











}





@media (max-width: 575.99px) {

    header {
        margin: 0;
        padding: 30px 0;
    }

    .banner_text {
        padding: 0;
        text-align: end;
        position: absolute;
        top: 70px;
        right: 20px;
    }

    header .mobile_header .logo {
        width: 150px;
        margin-left: 80px;
    }

    .banner_text h5 span,
    .banner_text h5 {
        font-size: 25px;
        color: var(--colorSecoundry);
    }

    .banner_text h5 span {
        border-bottom: 2px solid #f77c29;
        font-weight: 500;
    }

    .banner_text h1 span,
    .banner_text h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    .banner_text p span,
    .banner_text p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .banner_text p span {
        color: var(--colorOreng);
        font-weight: 700;
    }

    .banner_img {
        width: 30%;
        height: auto;
    }

    .banner_contant {
        height: 325px;
        position: relative;
    }

    .banner_2 .banner_img {
        margin: 50px 0px;
    }

    .banner_text h1 {
        font-weight: 500;
    }

    .banner_2 .banner_text {
        padding-bottom: 0;
    }

    .banner_2 .banner_text h5 span {
        color: #f77c29;
        border: none;
    }


    .banner_3 .banner_text::after {
        position: absolute;
        background: var(--colorOreng);
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
    }

    .banner_3 .banner_text h1 {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .banner_3 .banner_text h1 span {
        position: relative;
        color: var(--colorWhite);
        z-index: 999;
        margin-right: 10px;
        font-weight: 700;
    }

    .banner_3 .banner_text h1 span::after {
        position: absolute;
        content: "";
        top: 50%;
        -webkit-transform: translateY(-50%) matrix(1, 0, -0.35, 1, 0, 0);
        transform: translateY(-50%) matrix(1, 0, -0.35, 1, 0, 0);
        right: -5px;
        width: 100px;
        height: 42px;
        background: #f77c29;
        border-radius: 5px;
        z-index: -1;
    }

    .banner_3 .banner_text h1 span::before {
        position: absolute;
        content: "";
        right: -110px;
        bottom: 1px;
        width: 160px;
        height: 3px;
        background: #f77c29;
    }

    .banner_3 .banner_text p {
        margin: 0;
    }

    .common_btn {
        padding: 5px 15px;
        font-size: 15px;
    }

    .banner_2 .banner_text {
        text-align: end;
    }

    .frreshoping_area .freeshoping_content li .text h4 {
        font-size: 12px;
    }

    .cetagory_area .single_cetagory {
        margin-bottom: 30px;
    }

    .cetagory_area .single_cetagory .text_left {
        top: 10px;
        left: 20px;
    }

    .cetagory_area .single_cetagory .img img {
        height: 150px !important;
    }

    .cetagory_area .single_cetagory .text_left h5 {
        font-size: 15px;
    }

    .cetagory_area .single_cetagory .text_left h3 {
        font-size: 20px;
    }

    .cetagory_area .single_cetagory .text_left h4 {
        font-size: 18px;
    }

    .cetagory_area .single_cetagory .text_left p {
        margin-top: 10px;
    }

    .cetagory_area .single_cetagory .text_left {
        top: 20px;
        left: 20px;
    }

    .cetagory_area .single_cetagory .text_right {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .cetagory_area .single_cetagory .text_right h5 {
        color: var(--colorFurth);
        font-size: 15px;
    }

    .cetagory_area .single_cetagory .text_right h3 {
        font-size: 20px;
    }

    .cetagory_area .single_cetagory .text_right h4 {
        font-size: 18px;
    }

    .cetagory_area .single_cetagory .text_right p {
        margin-top: 10px;
    }

    .hotdell_text .quantaty .order_plce button {
        margin-left: 10px;
        padding: 10px 40px;
    }

    .hotdell_text {
        margin-left: 0;
        margin-top: 20px;
    }

    .hotdell_text .size p {
        width: 100%;
    }

    .hotdell_contant {
        padding: 20px 10px;
        margin-bottom: 30px;
    }

    .hotdell_sidbar {
        padding: 20px 10px;
    }

    .vertical_sidebar h3,
    .hotdell_sidbar_heading h3,
    .hotdell_heading h3 {
        font-size: 18px;
    }

    .recent_heading h3,
    .blog_heading h3,
    .clint_heading h3,
    .kitchen_heading h3,
    .electric_area_heading h3,
    .apprel_heading h3,
    .popular_cetagory_heading h3,
    .top_munth_cetagory_heading h3 {
        font-size: 20px;
    }

    .cetagory_item .img {
        height: auto;
    }

    .single_popular {
        max-width: 46%;
    }

    .single_popular .icon li a {
        height: 25px;
        width: 25px;
        line-height: 25px;
        font-size: 12px;
    }

    .popular_cetagory_tab .nav-pills .nav-link {
        font-size: 12px;
    }

    .women_cetagory .single_cetagory .img img {
        height: 160px !important;
    }

    .women_cetagory .single_cetagory .text_right,
    .women_cetagory .single_cetagory .text_left {
        top: 20px;
        left: 20px;
    }

    .women_cetagory .single_cetagory {
        margin-bottom: 20px;
    }

    .women_cetagory .single_cetagory .text_right h3,
    .women_cetagory .single_cetagory .text_left h3 {
        font-size: 22px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .women_cetagory .single_cetagory .text_right h5,
    .women_cetagory .single_cetagory .text_left h5 {
        font-size: 13px;
    }

    .cetagory_item .link {
        font-size: 13px;
    }

    .apprel_cetagory_item .single_popular {
        max-width: 46%;
    }

    .single_popular .img {
        height: auto;
    }

    .kitchen_heading a,
    .electric_area_heading a,
    .apprel_heading a {
        margin-left: 50%;
        margin-top: 10px;
        transform: translate(-50%);
    }

    .kitchen_heading,
    .electric_area_heading,
    .apprel_heading {
        display: initial !important;
        text-align: center;
    }

    .electric_left .text,
    .apprel_left .text {
        left: 20px;
    }

    .electric_left .img img,
    .apprel_left .img img {
        height: 300px !important;
    }

    .discount_content {
        align-items: center;
        padding: 15px 20px;
    }

    .discount_content_left .number h3 {
        font-size: 50px;
    }

    .discount_content {
        justify-content: start;
    }

    .discount_content_left {
        text-align: start;
    }

    .discount_content_left .number {
        border-right: 0;
    }

    .discount_content_left .number p {
        font-size: 25px;
        line-height: 20px;
        margin-top: 0px;
    }


    .discount_content_left .text h4 {
        font-size: 25px;
    }


    .discount_content_right .common_btn {
        padding: 8px 20px;
        margin-top: 20px;
    }

    .recent_item .img {
        height: auto;
    }

    .Subscribe_content {
        display: initial !important;
    }

    .Subscribe_text .icon i {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .Subscribe_text h3 {
        font-size: 20px;
    }

    .Subscribe_text p {
        font-size: 14px;
    }

    .Subscribe_form input {
        width: 350px;
        margin-top: 20px;
    }

    .Subscribe_form button {
        margin-left: 10px;
        margin-top: 20px;
    }

    .Comphany_info,
    .account_info,
    .footer_service {
        margin-left: 0;
    }

    .footer_logo ul {
        margin-bottom: 10px;
    }

    .Comphany_info h2,
    .account_info h2,
    .footer_service h2 {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .copyright_contant {
        justify-content: center !important;
        padding-top: 20px;

    }

    .footer_copyright .right {
        justify-content: center !important;
    }

    .footer_copyright .right img {
        height: auto !important;
    }

    .footer_secound_contant {
        padding-top: 30px;
    }

    .Subscribe_text {
        display: initial !important;
        text-align: center;
    }

    .hotdell_small_img {
        height: auto;
        margin: 0 12px;
    }

    .vertical_sidebar,
    .hotdell_sidbar {
        margin-top: 30px;
    }

    /* about page start */
    .section_heading h2 {
        font-size: 25px;
    }

    .about_service_img,
    .about_banner {
        height: auto;
    }

    .about_service_text h3 {
        font-size: 20px;
    }

    .faq_accordion .accordion-button {
        font-size: 15px;
    }

    .about_service_img {
        height: auto;
        margin-top: 20px;
    }

    .about_counter_area ul li h2 span,
    .about_counter_area ul li h2 {
        font-size: 30px;
        font-weight: 700;
    }

    .about_counter_area ul li h5 {
        font-size: 15px;
        margin: 5px 0px;
    }

    .about_counter_area ul li p {
        font-size: 11px;
    }

    .about_service_text h3 {
        font-size: 15px;
    }

    .about_service_text p {
        margin: 10px 0;
        font-size: 13px;
    }

    .Award_item li p {
        font-size: 15px;
        margin-top: 10px;
    }

    .Award_item li img {
        display: inline-block !important;
        width: auto !important;
        height: auto !important;
    }

    .single_team .img {
        height: auto;
    }

    .isitio_filter_btn {
        gap: 10px;
    }

    .isitio_filter_btn button {
        font-size: 12px;
    }

    .single_clasic .img {
        height: auto;
    }

    .single_clasic .title {
        font-size: 15px;
    }

    .single_clasic .clasic_post {
        font-size: 13px;
    }

    .clasic_sidebar {
        margin-top: 30px;
    }

    .clasic_listing_blog .single_clasic {
        display: initial;
    }

    .clasic_listing_blog .single_clasic .img {
        width: 100%;
    }

    .clasic_listing_blog .single_clasic .text {
        width: 100%;
        margin-bottom: 20px;
    }

    .clasic_blog_item .pagenation_area {
        margin-left: 0;
    }

    .comming_soo_area h1 span,
    .comming_soo_area h1 {
        font-size: 35px;
    }

    .coming_logo {
        width: 150px;
    }

    .comming_soo_area .simply-amount {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }

    .comming_soo_area .simply-countdown {
        margin: 30px 0px;
    }

    .contact_accrodian .faq_accordion .accordion-button {
        font-size: 12px;
    }

    .contact_accrodian .faq_header {
        font-size: 18px;
        font-weight: 700;
    }

    .contact_location_area iframe {
        height: auto;
    }

    .contact_info_form h4 {
        margin-top: 30px;
    }


    .Variable_Product_tab .nav-link {
        font-size: 20px;
    }

    .Variable_Product_tab .nav-pills {
        gap: 0px 10px;
    }

    .Variable_Product_tab .discription .text h3 {
        font-size: 18px;
    }

    .Variable_Product_tab .discription_item li {
        width: 100%;
    }

    .Variable_coustomar_review {
        margin-top: 30px;
    }

    .Variable_Product_tab .progressbar_area {
        min-width: 240px;
    }

    .Variable_Product_tab .submit_review h3 {
        font-size: 18px;
        margin-top: 30px;
    }

    .from_chacks label {
        font-size: 10px;
    }

    .Variable_Product_tab .submit_review form button {
        font-size: 12px;
    }

    .Variable_Product_tab .nav-link {
        font-size: 14px;
    }

    .review_tab .single_review .text {
        width: 70%;
        margin-left: 15px;
    }

    .review_tab .single_review .text .retting {
        margin: 10px 0px 20px 0px;
        font-size: 12px;
    }

    .Variable_Product_item .img {
        height: auto;
    }

    .Variable_sidebar {
        margin-top: 30px;
    }

    .hotdell_main_img {
        height: auto;
    }

    .Frequently_total {
        width: 70%;
    }

    .contact_info_area .text h2 {
        font-size: 25px;
    }

    .single_mask .text .title {
        font-size: 17px;
        line-height: 10px;
    }

    .my_account_contant {
        margin-top: 30px;
    }

    .my_account_contant h3 {
        font-size: 18px;
    }

    .my_accout_tab ul li a {
        font-size: 15px;
        padding: 10px 0px;
    }

    .my_account_contant ul li h4 {
        font-size: 13px;
    }

    .my_account_contant .common_btn_3 {
        font-size: 13px;
    }

    .my_account_contant ul {
        margin-top: 0px;
        display: inherit !important;
    }

    .my_account_contant ul li {
        width: 100%;
        margin-top: 30px;
    }

    .my_account_contant .dashboard_box {
        width: 46%;
        height: 160px;
    }

    .my_account_contant .common_btn_2 {
        margin-left: 12px;
    }

    .login_contant .login_heading a {
        width: 140px;
    }

    .date_id {
        width: 15%;
    }

    .status_id {
        width: 20%;
    }

    .status_id {}

    .total_id {
        width: 20%;
    }

    .text-end.action_id {
        width: 15%;
    }

    .order_id {
        width: 15%;
    }

    .my_account_contant .common_btn {
        padding: 4px 15px;
    }












}